<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Administrador</title>
    <!-- Agrega enlaces a los archivos de Bootstrap CSS y otros estilos aquí -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mi Tienda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Inicio</a>
            </li>
            <li class="nav-item">
		    <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
		    <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item active">
		    <a class="nav-link" href="/ventas">Ventas <span class="sr-only">(actual)</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/empleados">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/compras">Compras</a>
            </li> 
            <li class="nav-item">
                    <a class="nav-link" href="/proveedores">Proveedores</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <!-- Contenido principal del dashboard -->
    <h2>Bienvenido al Dashboard del Administrador</h2>
    <div class="mb-3">
    </div>
    <h2>Productos Generales</h2>
    <!-- Lista de productos -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Venta</th>
		<th>Codigo Cliente</th>
                <th>Codigo Direccion</th>
                <th>Tipo Pago</th>
                <th>Total</th>
                <th>Codigo Empleado</th>
                <th>Codigo Transaccion</th>
		<th>Local</th>
		<th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta[0] }}</td>
                    <td>{{ venta[1] }}</td>
                    <td>{{ venta[2] }}</td>
                    <td>{{ venta[3] }}</td>
                    <td>{{ venta[4] }}</td>
                    <td>{{ venta[5] }}</td>
                    <td>{{ venta[6] }}</td>
		    <td>{{ venta[7] }}</td>
		    <td>{{ venta[8] }}</td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
    	<a class="btn btn-primary" href="/crear_venta">Crear Productos</a>
</div>


<!-- Agrega enlaces a los archivos de Bootstrap JS y otros scripts aquí -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

