<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Administrador</title>
    <!-- Agrega enlaces a los archivos de Bootstrap CSS y otros estilos aquí -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mi Tienda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item active">
		    <a class="nav-link" href="/productos">Productos <span class="sr-only">(actual)</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ventas">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/empleados">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/compras">Compras</a>
            </li>           
	    <li class="nav-item">                   
		    <a class="nav-link" href="/proveedores">Proveedores</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <!-- Contenido principal del dashboard -->
    <h2>Bienvenido al Dashboard del Administrador</h2>
    <a class="btn btn-primary" href="/categorias">Ver Categorias</a>
    <!-- Botones de acción para la vista de productos -->
    <div class="mb-3">
    </div>
    <h2>Productos Generales</h2>
    <!-- Lista de productos -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Categoría</th>
                <th>Proveedor</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>{{ producto[5] }}</td>
                    <td>{{ producto[6] }}</td>
		    <td>
		    <img src="{{ url_for('static', filename='images/productos/' + producto[7]) }}" alt="Descripción de la imagen"  class="mt-2" style="max-width: 200px;">
		    </td>
                    <td>
                        <!-- Agregar enlaces a las páginas de edición y desactivación/activación -->
                        <a href="{{ url_for('editar_producto', producto_id=producto[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
    	<a class="btn btn-primary" href="/crear_producto">Crear Productos</a>
	<a class="btn btn-primary" href="/productos_locales">Asignar Producto a Local</a>	
</div>


<!-- Agrega enlaces a los archivos de Bootstrap JS y otros scripts aquí -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

